$bodyBackground:#fff;
$decorationLine:#F9F9F9;
$clientBlockBackground:#3F9AB7;

// ==colors===
$mainColor:#000;
$articleColor:#4F4F4F;
$secondaryColor:#F2994A;
$clientColor:#fff;

// === path ===
$spritePath:'../img/sprite/sprite.png';

// === fonts ===
$roboto:'Roboto', sans-serif;
$nunito: 'Nunito Sans', sans-serif;